﻿@model LawsuitsSchedule.Features.Account.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/logreg-theme.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <form method="post" class="register-form">
            <div class="row">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @if(ViewBag.Error != null)
                {
                    <div class="alert alert-warning text-center"><strong>@ViewBag.Error</strong></div>
                }
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <label>EMAIL</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <label>HASŁO</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-push-4 col-md-4 col-sm-4 col-lg-4">
                    @Html.CheckBoxFor(x => x.Remember) <label>Zapamiętaj mnie</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <input type="submit" class="btn btn-primary" value="Zaloguj się" />
                </div>
            </div>
            <hr>
        </form>
    </div>
</body>
</html>
