﻿@model LawsuitsSchedule.Features.Lawsuit.Models.LawsuitViewModel

@{
    /**/

    ViewBag.Title = "Dodawanie Rozprawy";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<h2 class="page-header">Dodawanie Rozprawy</h2>

@{
    List<SelectListItem> dropDownList = new List<SelectListItem>();
    foreach (var item in Model.Employers)
    {
        dropDownList.Add(new SelectListItem { Text=item.Name,Value=item.EmployeeId.ToString()});
    }
 }

@using (Html.BeginForm())
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <h3 class="h3">@ViewBag.Message</h3>
        </div>
    }

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(x => x.Lawsuit.LawsuitsId)
        <div class="form-group">
            @Html.Label("Proszę wprowadzić sygnaturę", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.Label("Sygnatura")
                @Html.TextBoxFor(x => x.Lawsuit.Signature, htmlAttributes: new { @class = "form-control"  })
            </div>
            <div class="col-md-8">
                <hr />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Proszę wybrać pracownika prowadzącego", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("JudgeId", dropDownList,"Wybierz pracownika", new { @class = "form-control" })
            </div>
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Proszę wprowadzić oskarżonego", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(x => x.Lawsuit.Defendant, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Proszę wprowadzić pozwa", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(x => x.Lawsuit.Claimant, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj sprawę" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "GetLawsuit", "Lawsuit", new { }, new { @class = "btn btn-default" })
</div>

