﻿@model LawsuitsSchedule.Lawsuit

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<h2 class="page-header">Szczegóły</h2>

<div class="row">
    <div class="cold-md-12">
    <h4>Lawsuit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JudgeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JudgeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefendantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefendantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LawsuitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LawsuitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarDateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarDateId)
        </dd>

    </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LawsuitsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
