﻿@model IEnumerable<LawsuitsSchedule.Lawsuit>
@using LawsuitsSchedule.Features.Cases
@{
    ViewBag.Title = "Rozprawy";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<h2 class="page-header">Rozprawy</h2>
<div class="row">
    <a class="btn btn-default" href="javascript:history.back()">Powrót</a>
    <br /><br />
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Sygnatura
                </th>
                <th>
                    Petent
                </th>
                <th>
                    Pozwany
                </th>
                <th>
                    Sędzia
                </th>
                <th>
                    Rozpoczęcie rozprawy
                </th>
                <th>
                    Zakończenie rozprawy
                </th>
                <th>
                    @Html.ActionLink("Dodaj Rozprawę", "AddLawsuit", "Lawsuit", new { }, new { @class = "btn btn-sm btn-primary" })
                </th>
            </tr>
            @Html.AntiForgeryToken()
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Signature
                    </td>
                    <td>
                        @item.Claimant.Name
                    </td>
                    <td>
                        @item.Defendant.Name
                    </td>
                    <td>
                        @item.Judge.Name
                    </td>
                    <td>
                        @if (item.CalendarDate == null)
                        {
                            <span>Nie ustalono</span>
                        }
                        else
                        {
                            @item.CalendarDate.HearingStart
                        }
                    </td>
                    <td>
                        @if (item.CalendarDate == null)
                        {
                            <span>Nie ustalono</span>
                        }
                        else
                        {
                            @item.CalendarDate.HearingEnd
                        }
                    </td>
                    <td>
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opcje <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @if (Session["TypeName"].ToString() == "Pracownik")
                                {
                                    <li>
                                        @Html.ActionLink("Edytuj", "EditLawsuit", "Lawsuit", new { id = item.LawsuitsId })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Przydziel pracownika", "AddEmployeeTo", "Lawsuit", new { id = item.LawsuitsId })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Szczegóły", "DetailsLawsuit", "Lawsuit", new { id = item.LawsuitsId })
                                    </li>
                                }
                                else if (Session["TypeName"].ToString() == "Administrator")
                                {
                                    <li>
                                        @Html.ActionLink("Edytuj", "EditLawsuit", "Lawsuit", new { id = item.LawsuitsId }, htmlAttributes: item.LawsuitsId)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Przydziel pracownika", "AddEmployeeTo", "Lawsuit", new { id = item.LawsuitsId })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Szczegóły", "DetailsLawsuit", "Lawsuit", new { id = item.LawsuitsId })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Planuj rozprawę", "Plan", "Cases", new { caseId = item.LawsuitsId },null)
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        @Html.ActionLink("Zakończ", "FinishLawsuit", "Lawsuit", new { id = item.LawsuitsId }, new { @class = "btn-danger" })
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

