﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/_LayoutPage-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <header class="head">
                    <div class="head-content">
                        <div class="logo">
                            <a href="/"><img src="~/Images/Scheduler-logo-main.png" alt="Scheduler"/></a>
                        </div>
                        <div class="head-text">
                            <span>
                                Harmonogramowanie
                                <span>procesami sądowymi</span>
                            </span>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav id="main-menu" class="main-menu">
                    <ul>
                        <li><a class="a" href="/Home/O-firmie"><strong>O firmie</strong></a></li>
                        <li><a class="a" href="/Home/Oferta"><strong>Oferta</strong></a></li>
                        @Html.Partial("~/Features/Layout/_LoginPartial.cshtml")
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer class="panel-footer footer-style">
        <ul>
            <li>
                <a href="/Home/O_nas">O nas</a>
            </li>
            <li>
                <a href="/Home/Regulamin">Regulamin</a>
            </li>
        </ul>
        <p>&copy; Wszystkie prawa zastrzeżone - @DateTime.Now.Year - Team Project D.A.R. LawsuitsSchedule Application</p>
    </footer>
</body>
</html>
