﻿@if (Session["Name"] != null && Session["TypeName"] != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <ul class="nav nav-pills navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> @Session["Name"] <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (Session["TypeName"].ToString() == "Pracownik")
                    {
                        <li><a href="/Lawsuit/GetLawsuit">Rozprawy</a></li>
                    }
                    else if (Session["TypeName"].ToString() == "Administrator")
                    {
                        <li><a href="/Lawsuit/GetLawsuit">Rozprawy</a></li>
                        <li><a href="/Administration/Panel">Panel Administratora</a></li>
                    }
                </ul>
            </li>
            <li><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
    }
}