﻿@model LawsuitsSchedule.Company

@{
    ViewBag.Title = "Dodaj Firmę";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<h2 class="page-header">Dodaj Firmę</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Nazwa firmy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj firmę" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Panel", "Administration", new { }, new { @class = "btn btn-default" })
</div>
