﻿
@{
    ViewBag.Title = "Panel Administratora";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<h2 class="page-header">Panel Administratora</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    @Html.ActionLink("Dodaj pracownika", "AddEmployee", "Administration", new { }, new { @class = "list-group-item" })
                    @Html.ActionLink("Dodaj firmę", "AddCompany", "Administration", new { }, new { @class = "list-group-item" })
                    @Html.ActionLink("Edycja pracownika", "EditEmployee", "Administration", new { }, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    </div>
</div>

