﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/index-theme.css" rel="stylesheet" />
    <title>Scheduler</title>
</head>
<body>
    <header class="page-header page-blocked">
        <div class="mod-left">
            <a href="/Home/Index"><img class="img-responsive" src="~/Images/Scheduler-logo.png" alt="Scheduler"/></a>
        </div>
        <div class="mod-right">
            @Html.ActionLink("Zaloguj", "Login", "Account", new { }, new { @class = "btn btn-primary"})
        </div>
    </header>
    <div class="area"> 
        <div class="section-background-top">
            <div class="main-style">
                <h3>Witamy na naszej stronie!</h3>
            </div>
        </div>
        <div class="section-background-up">
            <div class="main-style">
                <h3>Scheduler jest to strona internetowa, która służy do harmonogromowania procesów sądowych.</h3>
                <p>
                    Dzięki tej aplikacji ustalanie procesów sądowych staje się dziecinnie proste. Zapomnij <br />o tysiącach 
                    zapisanych kartek w swoim kalendarzu. Od teraz możesz zarządzać swoimi procesami z jednego miejsca.
                </p>
            </div>
        </div>
    </div>
    <footer class="panel-footer footer-style">
        <ul>
            <li>
                <a href="/Home/O_nas">O nas</a>
            </li>
            <li>
                <a href="/Home/Regulamin">Regulamin</a>
            </li>
        </ul>
        <p>&copy; Wszystkie prawa zastrzeżone - @DateTime.Now.Year - Team Project D.A.R. LawsuitsSchedule Application</p>
    </footer>
</body>
</html>
