﻿body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    line-height: 1.6;
}

.page {
    overflow: hidden;
    position: relative;
}

.head {
    padding-top: 20px;
    border-bottom: 1px solid #e4e4e4;
}

.head-content {
    width: 1260px;
    height: 70px;
    margin: auto;
    position: relative;
}

.logo {
    float: left;
}

.head-text {
    float: left;
    position: absolute;
    right: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.head-text > span {
    display: inline-block; line-height: 1.2; vertical-align: middle;
}

.head-text > span span {
    font-weight: 800;
    display: block;
}

.main-menu {
    box-shadow: rgba(0,0,0,0.1) 0px 2px 40px;
    z-index: 400;
    position: relative;
    background-color: rgba(137, 174, 171, 0.1);
}

.main-menu > ul {
    width: 1360px;
    margin: auto;
}

.main-menu > ul > li {
    float: left;
    line-height: 44px;
    margin-right: 1px;
    position: relative;
    list-style: none;
}

.main-menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu > ul > li:before {
    content: '';
    height: 18px;
    right: -1px;
    top: 30%;
    position: absolute;
    border-right: 1px solid #e4e4e4;
}

.main-menu > ul > li > .a {
    color: inherit;
    font-size: 15px;
    display: block;
    padding: 0 15px;
}

.main-menu > ul > li > .a:hover {
    color: #e4e4e4;
    text-decoration: none;
    background-color: #026aa7;
}

    .main-menu:after {
        content: '';
        display: block;
        clear: both;
        border-bottom: 1px solid #e4e4e4;
    }

.navbar-right {
    margin-right: 45px;
}

.nav > li > a:hover {
    color: #e4e4e4;
    text-decoration: none;
    background-color: #026aa7;
}

.nav > li > a {
    font-size: 15px;
}
.nav-pills > li > a {
    border-radius: 0px;
}

/*Stopka*/
.footer-style {
    text-align: center;
    font-size: small;
    color: darkgrey;
    text-decoration: none;
}

    .footer-style a {
        color: darkgrey;
        font-size: 1.4em;
    }

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0.4em;
}
/********************************************/