﻿body {
    margin-top: 80px;
}

.area {
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Naglowek*/
.page-header {
    margin: 20px 0 20px;
}

.page-blocked {
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 100;
    right: 0;
    top: 0;
    left: 0;
    background-color: white;
}

.mod-left {
    float: left;
    padding-top: 10px;
}

.mod-right {
    float: right;
    padding-top: 17px;
}
/********************************************/

/*Cialo*/
.section-background-top {
    padding: 2em;
}

.section-background-up {
    padding: 2em;
    background-color: darkblue;
    color: white;
}

.main-style {
   margin: 0 auto;
   max-width: 600px;
   text-align: center;
}
/********************************************/

/*Stopka*/
.footer-style {
    text-align: center; 
    font-size: small;
    color: darkgrey;
    text-decoration: none;
}

.footer-style a {
    color: darkgrey;
    font-size: 1.4em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0.4em;
}
/********************************************/