﻿body, html {
    background-color: #34515E;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.register-form {
    font-size: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton {
    height: 50px;
    width: 200px;
    background-color: tomato;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    padding-top: 10px;
    margin-bottom: 5px;
}

    .regbutton:hover {
        color: white;
        background-color: #aa422f;
    }

    .regbutton:active {
        color: white;
        background-color: #aa422f;
    }

.logbutton {
    height: 50px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    padding-top: 10px;
    margin-bottom: 5px;
}

    .logbutton:hover {
        color: white;
        background-color: darkolivegreen;
    }

    .logbutton:active {
        color: white;
        background-color: darkolivegreen;
    }



.register-form label {
    color: aliceblue;
}

.register-form input[type="text"], .register-form input[type="password"], .register-form input[type="submit"] {
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
}

.register-form input[type="checkbox"] {
    margin-bottom: 5px;
    border-radius: 0px;
    width: 22px;
    height: 20px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.input-validation-error {
    background-color: pink;
    border: 1px solid red;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}
